<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<ul>
	<% stations = Station.all %>
	<% stations.each do |station| %>
	<li> <%= station.abbr %> </li>
	<br>
	<% end%>
<br>





<%= form_for(User.new) do |f| %>
<%= f.text_field :name %>
<%= f.label :name %>
<br>
<%= f.text_field :phone_number%>
<%= f.label :phone_number%>
<br>
<%=f.submit 'Make Me'%>
<% end %>
<br>
<br>

