<% data = get_station_data(@station.abbr) %>
<h4><%= data['root']['station']['name']%></h4>

<% unless data['root']['message'] %>
	<% lines = data['root']['station']['etd'] %>
	<% lines.each do |line|%>
	
		<span class='train <%=line['estimate'][0]['color'].downcase %>'>
			<%= line['destination'] %>
		</span>
		<% times = line['estimate'] %>
		<% times.each do |time|%>
			<%= time['minutes'] + " min" unless time['minutes'] == 'Leaving'%>
			<%= time['minutes'] +"," if time['minutes'] == 'Leaving'%>
		<% end %>
		<br>
	<% end %>
	
<% else %>
	<%= data['root']['message'] %>
<% end %>
