<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Update your information</h3>
      </div>
      <div class="modal-body reminder_modal">
		  
        <div class="form-horizontal">
		
			<form id="edit_form" action= <%="/users/" + current_user.id.to_s %> method="POST">
			  <input type="hidden" name="_method" value="PUT">
			  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
		  	  <strong> Your name: </strong> 
			  <div class="phone_label"> <strong> Your phone number: </strong> </div>
			  	<br>
			  <input style="width: 100px" type="text" name="user[name]" id="user_name" value= <%= current_user.name %> >
			  
			  <input id="phone_number" type="text" name="user[phone_number]" class="input-medium bfh-phone" 
			  	data-format="(ddd)ddd-dddd" data-number= <%= current_user.phone_number %> >
				<br>
				<strong>Your email: </strong>
				<br>
			 <input style="width: 200px" type="text" name="user[email]" id="user_email" value= <%= current_user.email %> >
				<br>
				<br>
				<!-- used to have a message about updated email here -->
				<br>
			 <button type="submit" class="edit_submit btn btn-inverse">Update</button>
             <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancel</button> 	 
          </form>
		  	
		<form class="account_delete_button" action= <%="/users/" + current_user.id.to_s %>  method="POST"> 
			<input type="hidden" name="_method" value="DELETE">
			<input class="btn btn-danger" type="submit" value="Delete Account" />
		</form>	
		
		</div>
      </div>
    </div>
  </div>
</div>







