<div class="navbar navbar-inverse">	
  <div class="navbar-inner">
      <a class="brand" href= <%= root_url %>> <%= image_tag "bart_live_logo.png"%></a> 
        <ul class="nav">
			<% if logged_in? %>
				<%= render "shared/reminder" %>
				<%= render "users/edit" %>
				<li><a data-toggle="modal" href="#reminderModal">My Reminders</a></li>
				<li><a data-toggle="modal" href="#editModal">My Info</a></li>
	            <li><a href="#">Closest Station</a></li>		  
				<li><a href="#">Directions</a></li>
				<li><%=link_to 'Logout', sessions_url, method: 'delete'%></li>
			<% else %>
				<%= render "shared/signin" %>
				<li><a data-toggle="modal" href="#signinModal">Reminders</a></li>
	            <li><a href="#">Closest Station</a></li>
	    		<li><a href="#">Directions</a></li>
			<% end %>
		</ul>	
  </div>
</div>
	
	

