<div class="accordion-group">
	
	  <div class="reminder_link">
		  <a class="accordion-toggle" data-toggle="collapse" href="#reminder_view">
	      <h5>Click here to view your reminders</h5></a> 
	  </div>
	  
	<div id="reminder_view" class="accordion-body collapse">
	  <div class="accordion-inner">
		  
		  <br><br><br>
		  
		  <div id="reminder_list">
			  <% reminders = current_user.reminders %>
			  <% if reminders.empty? %>
			   <div class="empty_reminders"><strong> You dont have any scheduled reminders. </strong></div>
			  <% end %>
			  <% reminders.each do |reminder| %>
			  <div class="reminder_container" id=<%="reminder_" + reminder.id.to_s %>>
				  <% station = reminder.station_name %>
				  <% time = reminder.runtime - 7.hours %>
				  <% status = "Sent" if reminder.completed %>
				  <% status = "Scheduled" unless reminder.completed %>
			  	<div class="reminder_text"><%= station%>, <%= reminder.direction %>, <%= time.strftime("%b %-d, %l:%M%p")%>, Status: <strong><%= status %></strong></div>
		 	  	<div class="reminder_delete">
					
					<form class="reminder_delete_button_old" action=<%="/reminders/" + reminder.id.to_s %>  method="delete">
						
						<input class="btn-mini btn-danger" type="submit" value="Delete" />
					</form>	
						
				</div>
		  	  </div>
			<% end %>
			<div class="reminder_close"><button type="button" class="btn accordion-toggle" data-toggle="collapse" href="#reminder_view"> Close </button></div>
		 </div>
	  </div> <!--/.accordion-inner -->
	</div> <!-- /#signup_form -->
  </div> <!-- /.accordion-group -->
  