<div id= <%=data['root']['station']['abbr'].toLowerCase() %> class="bubble stationDetailView">
<span class="closeLink"> <a>close X</a> </span>

<div id="stationTitle">
	<h4><%= data['root']['station']['name'] %></h4>
</div>

<% if (data['root']['message']) { %>
	<%= data['root']['message'] %>
<% } else { %>
	<% lines = data['root']['station']['etd'] %>
	<% for (var i = 0; i < lines.length; i++) { %>
		
		<span class='train <%=lines[i]['estimate'][0]['color'].toLowerCase() %>'>
			<%= lines[i]['destination'] %>
		</span>
		
		<% times = lines[i]['estimate'] %>
		<% for (var j = 0; j < times.length; j++) { %>
			<% if (times[j]['minutes'] != "Leaving" ) { %>
				<%= times[j]['minutes'] + " min" %>
				<% } else { %>
				<%= times[j]['minutes'] + "," %>
			<% }; %>
		<% }; %>
		
		<br>
	
	<% }; %>
<% }; %>
	
</div>