<!DOCTYPE html>
<html>
<head>
  <title>Bart-Live, Interactive Bart App </title>
	  <link rel="image_src" href="/assets/bart_live_logo.png" />
	  <meta name="description" content="Bart-Live is a user-friendly resource for Bart-commuters designed to elimate waiting at the station.  View departures in real-time, set text reminders and more!" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
		<%= render "shared/navbar" %>
		<% flash.each do |key, val| %>
			<% if key == :success %>
				<div class="alert alert-success"> 
					<button type="button" class="close" data-dismiss="alert">×</button>
					<%= val.join(", ") %> 
				</div>
			<% else %>
				<div class="alert alert-error"> 
					<button type="button" class="close" data-dismiss="alert">×</button>
					<%= val.join(", ") %> 
				</div>
			<% end %>
		<% end %>
		
		<%= yield %>
    </div>
	<%= render "shared/footer" %>
</body>
</html>
